mat-toolbar {
    background: #e53935;
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #e53935;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: auto;
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    padding: 16px;

    overflow: hidden;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2rem;
    outline: none;

    mat-icon {
        margin-right: 8px;
    }

    &:hover {
        background-color: #fff;
        color: #e53935;
    }
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

button {
    outline: none;
}
