<mat-toolbar>
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">Eidt product</span>
    </mat-toolbar-row>
</mat-toolbar>

<form [formGroup]="productForm" (ngSubmit)="updateProduct()">
    <div class="form-group">
        <label>Product name:</label>
        <textarea type="text" class="form-control" rows="2" placeholder="Enter product name" formControlName="name"
            required></textarea>
        <p *ngIf="productForm.controls.name.touched && productForm.controls.name.invalid">
            <span class="text-danger" *ngIf="productForm.controls.name.errors.required">This field is mandatory</span>
        </p>
    </div>
    <div class="form-group">
        <label>Price:</label>
        <input type="number" class="form-control" formControlName="price" placeholder="Enter price" required>
        <p *ngIf="productForm.controls.price.touched && productForm.controls.price.invalid">
            <span class="text-danger" *ngIf="productForm.controls.price.errors.required">This field is mandatory</span>
        </p>
    </div>

    <div class="form-group">
        <div class="preview-img-container">
            <input type="file" id="previewImg" class="form-control" hidden (change)="selectFile($event)">
            <label for="previewImg" class="label-upload">Tải ảnh <i class="fas fa-upload"></i></label>
            <div class="preview-image" style="background-image: url({{imgThumb}})"></div>
        </div>
    </div>

    <div class="form-group">
        <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>